﻿
/* INACTIVE ROW */

.inactive-row .x-grid-cell { 
    background-color: #f6eced; 
    color: #900; 
}

/* READONLY FOR INPUT */

.readonly input { 
    background-color: #f1f1f1 !important;
background-image: none !important;	

}

/* READONLY FOR TEXTAREA */

.readonly textarea { 
    background-color: #f1f1f1 !important;
background-image: none !important;	

}


/* READONLY FOR COMBOS */

.readonly_combos input { 
    background-color: #f1f1f1 !important;
background-image: none !important;	

}


/* TITLE BOLD */

.boldtitle {
	font-weight: bold !important;
	font-size: 11px !important;
	padding-left: 5px;
}

/* ACCORDION HEADER BOLD */

.x-accordion-hd .x-panel-header-text {
	font-weight: bold;
	color: #2f3070;
	text-shadow: 1px 1px 1px #fff;

}

/* EXPANDED ROW */

.expanded_row .x-grid-cell-inner {
	
	    white-space: normal !important;
		min-height: 32px;
		line-height: 16px;
	
}

/* DOWNLOADED CVs */

.flageddownload .x-grid-cell-inner {
	
	    font-weight: bold;
	
}

/* WEBSITE TITLE @ MANAGEMENT */

#TabNode_header_hd-textEl {
	
	font-size:15px !important;
	color: #000091 !important;
}

.highlighted .x-grid-cell-inner {
	color: #FFF !important;
	background-color: #8585e0 !important;
	font-weight: bold !important;
}

.bolditalic .x-grid-cell-inner {
	font-weight: bold !important;
	font-style: italic !important;
}

