﻿
/*Header*/

.titlebar_east{
	background-color: #e1e1e1 !important;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	border-bottom: 2px solid #000091 !important;

}
.titlebar_title{
	background-color: #e1e1e1 !important;
	text-align: center;
	font-size: 20px;
	color: #FFF;
	font-size: 25px;
	line-height: 60px;
	vertical-align: middle;
	text-shadow: 3px 3px 3px #2f3070;
	border-bottom: 2px solid #000091 !important;

}

.titlebar_user{
	background-color: #e1e1e1 !important;
	text-align: center;
	font-size: 20px;
	color: #FFF;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	color: #2f3070;
	text-shadow: 1px 1px 1px #ccc;
	line-height: 90px;
	vertical-align: middle;
	width: 300px;
	text-align: right;
	padding-right: 20px;
	border-bottom: 2px solid #000091 !important;

}

.titlebar_west{
	background-color: #e1e1e1 !important;
	text-align: center;
	font-size: 20px;
	color: #fff;
	border-bottom: 2px solid #000091 !important;

}


.headerPageName {
	font-size:18px;
	text-align: center;
	font-style: italic;
	padding: 10px 10px;
	}
			
/*Logout*/
.logoutBtn{
	background: url('../images/header/_logout.png') !important;
}

/*Menu*/
#btnOMenu {
	width: 200px;
	height: 35px;
	border: 1px dotted #000091;
	margin-left: 10px;
	margin-right: 10px;
}

#btnOMenu #btnOMenu-btnInnerEl {
	font-size:16px;
	font-weight: bold;
	text-align: left;
	height: 40px;
	line-height: 30px;
	vertical-align: middle;
	color: #000091;
}

#menubtnHome, #menubtnItlLib, #menubtnItlList, #menubtnCompanies , #menubtnUsers{
	/*background-color: #F0F0EB !important;*/
	border: none !important;
	width: 300px !important;
	font-size:15px;
	font-weight: bold;
	border-bottom: 1px dotted #333 !important;
}

.home {
	background-image:url(../images/menu/home.png) !important;
}

.content {
	background-image:url(../images/menu/content.png) !important;
}

.user {
	background-image:url(../images/menu/user.png) !important;
}

.module {
	background-image:url(../images/menu/module.png) !important;
}

.cv {
	background-image:url(../images/menu/cv.png) !important;
}













