﻿
/*GENERAL*/

/*SEARCH*/
.search-btn {
	background: url('../../resources/images/general/search.png') !important;
}

/*FILTER*/
.filter-btn {
	background: url('../../resources/images/general/filter.png') !important;
}

/*ADD NEW*/
.add-btn {
	background: url('../../resources/images/general/add.png') !important;
}

/*EDIT*/
.edit-btn {
	background: url('../../resources/images/general/edit.png') !important;
}

/*DELETE*/
.delete-btn {
	background: url('../../resources/images/general/delete.png') !important;
}

/*SAVE*/
.save-btn {
	background: url('../../resources/images/general/save.png') !important;
}

/*CANCEL*/
.cancel-btn {
	background: url('../../resources/images/general/cancel.png') !important;
}

/*SELECT*/
.select-btn {
	background: url('../../resources/images/general/select.png') !important;
}

/*MOVE*/
.move-btn {
	background: url('../../resources/images/general/move.png') !important;
}

/* TREE Expand / Collapse All Nodes*/
.groups-btn {
   background: url('../../resources/images/general/toggleplus.png') !important;
}

.x-btn-pressed .groups-btn {
   background: url('../../resources/images/general/toggle-.png') !important;
}

/*FILE MANAGER*/

.filehome-btn{
	background: url('../../resources/images/filemgr/Folder.png') !important;
}
.filedownload-btn{
	background: url('../../resources/images/filemgr/_down.png') !important;
}
.filemanager-btn{
	background: url('../../resources/images/filemgr/folder_go.png') !important;
}

/*FONT AWESOME*/

/*ADD*/
.fa-plus {
	color: green;
}

.fa-plus:before {
	font-size: 16px;
}

/*EDIT*/
.fa-pencil-square-o {
	color: orange;
}

.fa-pencil-square-o:before {
	font-size: 16px;
}

/*DELETE*/
.fa-trash {
	color: red;
}

.fa-trash:before {
	font-size: 16px;
}

/*SIGN OUT*/
.fa-sign-out {
	color: red;
}

.fa-sign-out:before {
	font-size: 32px;
}

/*SEARCH*/
.fa-search {
	color: gray;
}

.fa-search:before {
	font-size: 16px;
}

/*FILTER*/
.fa-filter {
	color: purple;
}

.fa-filter:before {
	font-size: 16px;
}

/*SAVE*/
.fa-floppy-o {
	color: #000091;
}

.fa-floppy-o:before {
	font-size: 16px;
}

/*CANCEL*/
.fa-ban {
	color: red;
}

.fa-ban:before {
	font-size: 16px;
}

/*CONTENT*/
.fa-qrcode {
	color: purple;
}

.fa-qrcode:before {
	font-size: 16px;
}

/*ACTIONS*/
.fa-bolt {
	color: #000091;
}

.fa-bolt:before {
	font-size: 16px;
}

/*HOME PAGE*/
.fa-home {
	color: #666;
}

.fa-home:before {
	font-size: 16px;
}

/*MENU*/
.fa-bars {
	color: brown;
}

.fa-bars:before {
	font-size: 16px;
}

/*PUBLISH*/
.fa-bullseye{
	color: #996600;
}

.fa-bullseye:before {
	font-size: 16px;
}

/*NEWS*/
.fa-newspaper-o{
	color: #0099ff;
}

.fa-newspaper-o:before {
	font-size: 16px;
}

/*DOWNLOAD*/
.fa-download{
	color: #000091;
}

.fa-download:before {
	font-size: 16px;
}

/*AIRLINE*/
.fa-plane{
	color: #000091;
}

.fa-plane:before {
	font-size: 16px;
}
.fa-flag{
	color: #efe476;
}

.fa-flag:before {
	font-size: 16px;
}

/*IMAGE*/
.fa-picture-o{
	color: #000091;
}

.fa-picture-o:before {
	font-size: 16px;
}

/*RESET*/
.fa-eraser{
	color: red;
}

.fa-eraser:before {
	font-size: 16px;
}

/*MOVE*/
.fa-arrows{
	color: orange;
}

.fa-arrows:before {
	font-size: 16px;
}

/*ATTACHMENTS*/
.fa-paperclip{
	color: #000091;
}

.fa-paperclip:before {
	font-size: 16px;
}

/*VIEW*/

.fa-eye{
	color: #000091;
}

.fa-eye:before {
	font-size: 16px;
}

/*PARENT*/

.fa-level-up{
	color: green;
}

.fa-level-up:before {
	font-size: 16px;
}

/*CHILD*/

.fa-level-down{
	color: green;
}

.fa-level-up:before {
	font-size: 16px;
}

/*ADD TO*/

.fa-arrow-right{
	color: #000091;
}

.fa-arrow-right:before {
	font-size: 16px;
}

/*THUMBS DOWN*/

.fa-thumbs-down{
	color: red;
}

.fa-thumbs-down:before {
	font-size: 16px;
}

/*THUMBS UP*/

.fa-thumbs-up{
	color: green;
}

.fa-thumbs-up:before {
	font-size: 16px;
}

/*FILES*/

.fa-files-o{
	color: purple;
}

.fa-files-o:before {
	font-size: 16px;
}

/*ASTERISK*/

.fa-asterisk{
	color: green;
}

.fa-asterisk:before {
	font-size: 16px;
}

/*TABLE*/

.fa-table{
	color: orange;
}

.fa-table:before {
	font-size: 16px;
}

/*USERS*/

.fa-users{
	color: brown;
}

.fa-users:before {
	font-size: 16px;
}

/*MOVE*/

.fa-arrows{
	color: orange;
}

.fa-arrows:before {
	font-size: 16px;
}

/*MOVE UP*/

.fa-arrow-up{
	color: orange;
}

.fa-arrow-up:before {
	font-size: 16px;
}

/*MOVE DOWN*/

.fa-arrow-down{
	color: orange;
}

.fa-arrow-down:before {
	font-size: 16px;
}

/*DICTIONARY*/

.fa-globe{
	color: #5AA296;
}

.fa-globe:before {
	font-size: 16px;
}

/*INFO*/

.fa-info{
	color: purple;
}

.fa-info:before {
	font-size: 16px;
}

/*UPLOAD*/

.fa-upload{
	color: #000091;
}

.fa-upload:before {
	font-size: 16px;
}

/*EXCEL*/
.fa-file-excel-o{
	color: green;
}

.fa-file-excel-o:before {
	font-size: 16px;
}




