html {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 30
}

.floatLeft {
    float: left;
    margin: 3px 20px 10px 0
}

p.clearLeft {
    clear: left;
}
